body {
  background-image: linear-gradient(to right, #f04037, rgb(240, 182, 182));
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 500;
  color: #fff;
}

h1 {
  text-shadow: 2px 3px rgba(0, 0, 0, 0.42);
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(92, 75, 234);
}

span {
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(92, 75, 234);
}

img {
  margin: 0 auto;
  width: 40%;
}

input {
  text-align: center;
  font-weight: 600;
  width: 40%;
  color: #000;
  outline: none;
  font-size: 14px;
  padding: 0.6em 0.7em;
  margin: 0 0 23px;
  border: none;
  -webkit-appearance: none;
  display: inline-block;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  box-sizing: border-box;
}

input[type="button"] {
  color: #fff;
  width: 60%;
  position: relative;
  background: rgb(92, 75, 234);
  outline: none;
  font-size: 13px;
  border: 1px solid #fff;
  padding: 9px 6px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 100%;
}

#principal {
  width: 40%;
  height: 90%;
  padding: 1.8em 1.7em 1.8em;
  margin: 0 auto;
  box-shadow: -2px 7px 37px 8px rgba(0, 0, 0, 0.52);
  background: transparent;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul > li {
  list-style: none;
  font-size: 1.25rem;
  text-align: left;
}

#info {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    margin-left: -2rem;
  }

  #principal {
    box-shadow: none;
  }

  input {
    width: 100vh;
  }

  input[type="button"] {
    width: 100vh;
  }
}
